<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">LOL API</h1>

            <div class="input-group col-md-offset-2 col-md-8" ng-controller="AppCtrl">
                <input type="text" class="form-control" name="summonerName" ng-model="data.summonerName" maxlength="50" placeholder="Summoner Name"></input>
                <div class="input-group-btn">
                    <select class="form-control" id="regions" name="region" ng-model="data.selRegion" ng-options="region.name for region in regionList" ></select>
                    <button type="button" id="searchSum" class="btn btn-primary" ng-click="searchSummoner()">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
