<span us-spinner="{radius:30, width:8, length: 16}"></span>
<div class="container" ng-if="summoner">
    <div class="row">
        <div class="col-md-12">
            <div class="card hovercard">
                <div class="card-background">
                    <img class="card-bkimg" alt="" ng-src="http://ddragon.leagueoflegends.com/cdn/{{ summoner.latestVer }}/img/profileicon/{{ summoner.profileIconId }}.png">
                </div>
                <div class="useravatar">
                    <img alt="" ng-src="http://ddragon.leagueoflegends.com/cdn/{{ summoner.latestVer }}/img/profileicon/{{ summoner.profileIconId }}.png">
                </div>
                <div class="card-info">
                    <span class="card-title">{{ summoner.name }}</span>
                </div>
            </div>
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="summery" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        <div class="hidden-xs">Summary</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="history" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        <div class="hidden-xs">History</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="runes" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="hidden-xs">Runes</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="masteries" class="btn btn-default" href="#tab4" data-toggle="tab"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                        <div class="hidden-xs">Masteries</div>
                    </button>
                </div>
            </div>

            <div class="well">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <div class="text-center">
                            <h1>Level: {{ summoner.summonerLevel }}</h1>
                        </div>
                        <div class="soloStats" ng-if="summoner.soloQ['entries'][0].wins">
                            <div class="medal-img">
                                <img ng-src='img/medals/{{ summoner.soloQ.tier }}{{ summoner.soloQ["entries"][0].division }}.png'>
                            </div>
                            <div>
                                <h2>Solo Queue Stats</h2>
                                <p>Wins: {{ summoner.soloQ["entries"][0].wins }}</p>
                                <p>Losses: {{ summoner.soloQ["entries"][0].losses }}</p>
                                <p>LP: {{ summoner.soloQ["entries"][0].leaguePoints }}</p>
                                <p>Tier: {{ summoner.soloQ.tier }} {{ summoner.soloQ["entries"][0].division }}</p>
                            </div>
                        </div>
                        <div class="rankedTeamStats" ng-if="summoner.rankedTeam['entries'][0].wins">
                            <div class="medal-img">
                                <img ng-src='img/medals/{{ summoner.rankedTeam.tier }}{{ summoner.rankedTeam["entries"][0].division }}.png'>
                            </div>
                            <div>
                                <h2>Ranked Team Stats</h2>
                                <p>Name: {{ summoner.rankedTeam["entries"][0].playerOrTeamName }}</p>
                                <p>Wins: {{ summoner.rankedTeam["entries"][0].wins }}</p>
                                <p>Losses: {{ summoner.rankedTeam["entries"][0].losses }}</p>
                                <p>LP: {{ summoner.rankedTeam["entries"][0].leaguePoints }}</p>
                                <p>Tier: {{ summoner.rankedTeam.tier }} {{ summoner.rankedTeam["entries"][0].division }}</p>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade in" id="tab2">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Champ ID</th>
                                        <th>K</th>
                                        <th>D</th>
                                        <th>A</th>
                                        <th>Level</th>
                                        <th>CS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="matches in summoner.history.matches" ng-class="{'winner': matches.participants[0].stats.winner , 'looser': !matches.participants[0].stats.winner }">
                                        <td><img ng-src="http://ddragon.leagueoflegends.com/cdn/{{ summoner.latestVer }}/img/champion/{{ matches.championImage }}" height="30px" style="margin-right: 5px"/>{{ matches.championName }}</td>
                                        <td>{{ matches.participants[0].stats.kills }}</td>
                                        <td>{{ matches.participants[0].stats.deaths }}</td>
                                        <td>{{ matches.participants[0].stats.assists }}</td>
                                        <td>{{ matches.participants[0].stats.champLevel }}</td>
                                        <td>{{ matches.participants[0].stats.minionsKilled }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tab3">
                        <h3>Runes</h3>
                    </div>
                    <div class="tab-pane fade in" id="tab4">
                        <h3>Masteries</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>