<span us-spinner="{radius:30, width:8, length: 16}"></span>
<div class="container" ng-if="summoner">
    <div class="row">
        <div class="col-md-12">

            <div class="card hovercard">
                <div class="card-background">
                    <img class="card-bkimg" alt="" ng-src="http://ddragon.leagueoflegends.com/cdn/{{ summoner.latestVer }}/img/profileicon/{{ summoner.profileIconId }}.png">
                </div>
                <div class="useravatar">
                    <img alt="" ng-src="http://ddragon.leagueoflegends.com/cdn/{{ summoner.latestVer }}/img/profileicon/{{ summoner.profileIconId }}.png">
                </div>
                <div class="card-info">
                    <span class="card-title">{{ summoner.name }}</span>
                </div>
            </div>
            <div class="col-md-4 panel panel-default">
                <div class="text-center">
                    <h1>Level: {{ summoner.summonerLevel }}</h1>
                </div>
                <div class="col-md-12" ng-if="summoner.soloQ['entries'][0].wins">
                    <div class="medal-img col-md-4 no-padding">
                        <img ng-src='img/medals/{{ summoner.soloQ.tier }}{{ summoner.soloQ["entries"][0].division }}.png'>
                    </div>
                    <div class="col-md-8">
                        <h4>Solo Queue Stats</h4>
                        <p>Wins: {{ summoner.soloQ["entries"][0].wins }}</p>
                        <p>Losses: {{ summoner.soloQ["entries"][0].losses }}</p>
                        <p>LP: {{ summoner.soloQ["entries"][0].leaguePoints }}</p>
                        <p>Tier: {{ summoner.soloQ.tier }} {{ summoner.soloQ["entries"][0].division }}</p>
                    </div>
                </div>
                <div class="col-md-12" ng-if="summoner.rankedTeam['entries'][0].wins">
                    <div class="medal-img col-md-4 no-padding">
                        <img ng-src='img/medals/{{ summoner.rankedTeam.tier }}{{ summoner.rankedTeam["entries"][0].division }}.png'>
                    </div>
                    <div class="col-md-8">
                        <h4>Ranked Team Stats</h4>
                        <p>Name: {{ summoner.rankedTeam["entries"][0].playerOrTeamName }}</p>
                        <p>Wins: {{ summoner.rankedTeam["entries"][0].wins }}</p>
                        <p>Losses: {{ summoner.rankedTeam["entries"][0].losses }}</p>
                        <p>LP: {{ summoner.rankedTeam["entries"][0].leaguePoints }}</p>
                        <p>Tier: {{ summoner.rankedTeam.tier }} {{ summoner.rankedTeam["entries"][0].division }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 panel panel-default">
                <div class="game-box" ng-repeat="matches in summoner.history.matches | reverse" ng-class="{'winner': matches.participants[0].stats.winner , 'looser': !matches.participants[0].stats.winner }">
                    <div class="game-type">
                        {{ matches.gameLabel }}
                        <div class="game-type-right">{{ matches.matchCreation | date:'short' }} - {{ matches.matchDuration | secondToMin }}</div>
                    </div>
                    <div class="game-box">
                        <div class="champion-image-spells">
                            <div class="champion-image">
                                <img ng-src="http://ddragon.leagueoflegends.com/cdn/{{ summoner.latestVer }}/img/champion/{{ matches.championImage }}"/>
                            </div>
                            <div class="champion-name">
                                {{ matches.championName }}
                            </div>
                            <div class="champion-spells">
                                <div class="spell spell1">
                                    <img ng-src="http://ddragon.leagueoflegends.com/cdn/{{ summoner.latestVer }}/img/spell/{{ matches.spell1Id }}" />
                                </div>
                                <div class="spell spell2">
                                    <img ng-src="http://ddragon.leagueoflegends.com/cdn/{{ summoner.latestVer }}/img/spell/{{ matches.spell2Id }}" />
                                </div>
                            </div>
                        </div>
                        <div class="game-stats">
                            <div class="kda">
                                {{ matches.participants[0].stats.kills }} / {{ matches.participants[0].stats.deaths }} / {{ matches.participants[0].stats.assists }}
                            </div>
                            <div class="kda-ration">
                                KDA : {{ (matches.participants[0].stats.kills + matches.participants[0].stats.assists) / matches.participants[0].stats.deaths | number : 1}}
                            </div>
                        </div>
                        <div class="game-stats-2">
                            <div class="level">
                                Level : {{ matches.participants[0].stats.champLevel }}
                            </div>
                            <div class="cs">
                                CS : {{ matches.participants[0].stats.minionsKilled }} ( {{ matches.participants[0].timeline.creepsPerMinDeltas.zeroToTen + matches.participants[0].timeline.creepsPerMinDeltas.tenToTwenty + matches.participants[0].timeline.creepsPerMinDeltas.twentyToThirty + matches.participants[0].timeline.creepsPerMinDeltas.thirtyToEnd | number : 1}} Per/Min )
                            </div>
                            <div class="wards">
                                Bought {{ matches.participants[0].stats.visionWardsBoughtInGame + matches.participants[0].stats.sightWardsBoughtInGame }} wards
                            </div>
                        </div>
                        <div class="items">
                            <div class="item1"><img ng-if="matches.participants[0].stats.item0" ng-src="http://ddragon.leagueoflegends.com/cdn/{{ summoner.latestVer }}/img/item/{{ matches.participants[0].stats.item0 }}.png"/></div>
                            <div class="item2"><img ng-if="matches.participants[0].stats.item1" ng-src="http://ddragon.leagueoflegends.com/cdn/{{ summoner.latestVer }}/img/item/{{ matches.participants[0].stats.item1 }}.png"/></div>
                            <div class="item3"><img ng-if="matches.participants[0].stats.item2" ng-src="http://ddragon.leagueoflegends.com/cdn/{{ summoner.latestVer }}/img/item/{{ matches.participants[0].stats.item2 }}.png"/></div>
                            <div class="item4"><img ng-if="matches.participants[0].stats.item3" ng-src="http://ddragon.leagueoflegends.com/cdn/{{ summoner.latestVer }}/img/item/{{ matches.participants[0].stats.item3 }}.png"/></div>
                            <div class="item5"><img ng-if="matches.participants[0].stats.item4" ng-src="http://ddragon.leagueoflegends.com/cdn/{{ summoner.latestVer }}/img/item/{{ matches.participants[0].stats.item4 }}.png"/></div>
                            <div class="item6"><img ng-if="matches.participants[0].stats.item5" ng-src="http://ddragon.leagueoflegends.com/cdn/{{ summoner.latestVer }}/img/item/{{ matches.participants[0].stats.item5 }}.png"/></div>
                        </div>
                        <div class="item-trinket">
                            <div class="item7"><img ng-if="matches.participants[0].stats.item6" ng-src="http://ddragon.leagueoflegends.com/cdn/{{ summoner.latestVer }}/img/item/{{ matches.participants[0].stats.item6 }}.png"/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>